:root {
    --main-title-color: white;
    --main-text-color: #86C232;
    --secondary-text-color: #6B6E70;
    --accent-color: #474B74;
    --accent-color2: #61892F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.title, .new, .home-button, .header, .logout-container{
    margin: 10px;
}

.site-name{
    font-family: 'Baloo 2', cursive;
}

a{
    color: var(--main-title-color);
}

a:visited{
    color: var(--secondary-text-color);
}

html { 
    background: url(site-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    color: var(--main-text-color);
    font-family: 'Titillium Web', sans-serif;
}

.snippet-details{
    width: 60%;
    margin: 10px 20%;
}

.edit-delete{
    margin: 10px;
}