{% extends 'base.html' %}
{% block content %}

{% for snippet in snippets %}
<div class="snippet">
  <div class="title">
    <h2>
      <a href="{% url 'snippet-detail' snippet.pk%}">{{snippet.snippet_title}}</a>
    </h2>
  </div>
  <div class="snippet-details" id="snippet-detail">
    <h4>
      {{snippet.snippet_title}}
    </h4>
    <p>{{snippet.language}}</p>
    <p>{{snippet.details}}</p>
    <div class="code-snippet">
      <pre><code class="language-{{snippet.category}}">{{snippet.code}}</code></pre>
      <a class="clipboard" href="#" onclick="return alert('Copied to clipboard.')">Copy to
        Clipboard</a>
    </div>
    <p>{{snippet.category}}</p>
  </div>
  <p class="edit-delete link">
    <a href="{% url 'edit-snippet' pk=snippet.pk %}">Edit Snippet</a>

    <a class="edit-delete link" href="{% url 'delete-snippet' pk=snippet.pk %}"
      onclick="return confirm('Are you sure you want to delete this?')">Delete Snippet</a>


  </p>
</div>
<div>

</div>
{% endfor %}


<!-- {% for book in books %}
  <div class="bookcontainer">
    <div>
      <h3 class="title">
        <a href="{% url 'books-detail' book.pk %}">{{book.title}}</a>
      </h3>
      <p class="details">
        {{book.author}}
      </p>
    </div>

    <div class="description link">
      {{book.description}}
      <p class="link">
        <a href="{{book.url}}">{{book.url}}</a>
      </p>
      <p class="link">
        Created at: {{book.created_at}}
      </p>
    </div>


    <p class="link description">
      {% if book.category %}<a class="link description"
        href='{% url "books-by-category" book.category.slug %}'>Category: {{book.category}}</a>{% endif %}
    </p>


    {% if book.favorite %}
    <p class="link description">
      Favorited!
    </p>
    {% endif %}


    <p class="edit-delete link">
      <a href="{% url 'edit-book' pk=book.pk %}">Edit Book</a>

      <a class="confirm-delete link" href="{% url 'delete-book' pk=book.pk %}"
        onclick="return confirm('Are you sure you want to delete this?')">Delete Book</a>
    </p>
  </div>

  {% endfor %} -->

{% endblock %}