<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'prism.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="static/main.js"></script>
    <script src="static/prism.js">
        var snippets = "{{Snippet}}";
    </script>
    {% block title %}<title class="main-title">Code Snippet Tracker</title>{% endblock %}
</head>

<header>
    <div class="neon-wrapper header">
        <a class="home-button" href="{% url 'snippets' %}">
            <span class="txt">
                Code Snippet
                <br>
                Library
            </span>
            <span class="gradient"></span>
            <span class="dodge"></span>
        </a>
    </div>
    <br>
    <div class="logout-container header">
        <a class="logout" href="/accounts/login/">Login </a>
    </div>
    <div class="logout-container header">
        <a class="logout" href="/accounts/logout/">Logout </a>
    </div>
    <div class="logout-container header">
        <a class="logout" href="/accounts/register/">Register </a>
    </div>
    <hr>

</header>


<body>
    <div class="headercontainer categories">
        <p class="description link">Snippets by Category: </p>
        <a class="description link" href='/'> All | </a>
        <a class="description link" href='/snippets/HTML/'> HTML | </a>
        <a class="description link" href='/snippets/CSS/'> CSS | </a>
        <a class="description link" href='/snippets/JavaScript/'> JavaScript | </a>
        <a class="description link" href='/snippets/Python/'> Python | </a>
        <a class="description link" href='/snippets/Django/'> Django | </a>
        <a class="description link" href='/snippets/AJAX/'> AJAX | </a>
        <a class="description link" href='/snippets/JSON/'> JSON | </a>
        <a class="description link" href='/snippets/CSS/'> Java | </a>
        <a class="description link" href='/snippets/JavaScript/'> C# | </a>
        <a class="description link" href='/snippets/Django/'> Ruby | </a>
        <a class="description link" href='/snippets/AJAX/'> C++ | </a>
        <a class="description link" href='/snippets/JSON/'> Objective C</a>
    </div>
    <div class="new">
        <hr>
        <a class="new" href="{% url 'add-snippet' %}">New Snippet</a>
        <hr>
    </div>
    <div class="search-bar">
        <form action="" method="GET" id="search-form">
            <input type="text" id="search" name="q" placeholder="Search..." value="{{query}}" />
        </form>
    </div>
    {% block content %}
    {% endblock %}
</body>


</html>